{% load static %}

<div class="container-footer">
    <div class="footer-header">
        <h1>Vi Car Wash</h1>
        <p>O melhor para o seu carro.</p>
    </div>
    <div class="footer-text">
                <p>Rua cândido kuerten - 44</p>
                <p>Paulo Lopes - SC</p>
                <a href="https://whatsa.me/5548984045568">Telefone: (48) 988745809</a>
            </div>
    <div class="by">
            <p>
               <a href="https://www.linkedin.com/in/vitorsantos96/">By VitorSantos</a>
            </p>
        </div>
    </div>