{% load static %}
<header class="main-header-container">
    <div class="logo-container">
        <a href="/">
            <img src="{% static 'global/images/logo.png' %}" alt="Vicar Wash Logo" class="logo">
        </a>
    </div>

    <nav class="main-nav">
        <ul class="nav-list">
          <li><a href="/about">Sobre Nós</a></li>
          <li><a href="/products">Produtos</a></li>
          <li><a href="https://whatsa.me/5548984045568">Contato</a></li>
          <li><a href="https://www.instagram.com/vicar_wash/">Instagram</a></li>
        </ul>
      </nav>
</header>


