{% load static %}

<div class="products-container">
    <div class="products-header">
        <h1>Produtos</h1>
        <p>Conheça nossos produtos que utilizamos em seu veiculo.</p>
    </div>
<div>

    <div class="container-products-description">
        <div class="products-description-text">
            <img src="{% static 'global/images/v-floc.webp' %}" alt="Vicar Wash Logo" class="product-image">
            <div class="product-details">
                <h2>V-FLOC </h2>
                <p>V-FLOC é um lava autos de alta performance e de pH neutro.

                    Sua fórmula contém agentes condicionadores e tensoativos especiais que proporcionam uma lavagem suave e eficiente. 
                    V-FLOC possui alto grau de lubrificação, resultando em uma redução significativa do coeficiente de atrito. 
                    Isso melhora o deslize da luva de microfibra e reduz efetivamente as chances de micro-riscos na pintura.</p>
            </div>
        </div>
        <div class="products-description-text">
            <img src="{% static 'global/images/v-mol.png' %}" alt="v-mol" class="product-image">
            <div class="product-details">
                <h2>V-FLOC </h2>
                <p>V-FLOC é um lava autos de alta performance e de pH neutro.

                    Sua fórmula contém agentes condicionadores e tensoativos especiais que proporcionam uma lavagem suave e eficiente. 
                    V-FLOC possui alto grau de lubrificação, resultando em uma redução significativa do coeficiente de atrito. 
                    Isso melhora o deslize da luva de microfibra e reduz efetivamente as chances de micro-riscos na pintura.</p>
            </div>
        </div>
        <div class="products-description-text">
            <img src="{% static 'global/images/delet.png' %}" alt="Vicar Wash Logo" class="product-image">
            <div class="product-details">
                <h2>V-FLOC </h2>
                <p>V-FLOC é um lava autos de alta performance e de pH neutro.

                    Sua fórmula contém agentes condicionadores e tensoativos especiais que proporcionam uma lavagem suave e eficiente. 
                    V-FLOC possui alto grau de lubrificação, resultando em uma redução significativa do coeficiente de atrito. 
                    Isso melhora o deslize da luva de microfibra e reduz efetivamente as chances de micro-riscos na pintura.</p>
            </div>
        </div>
    </div>

