{% load static %}

<div class="products-container">
    <div class="products-header">
        <h1>Produtos</h1>
        <p>Conheça nossos produtos que utilizamos em seu veiculo.</p>
    </div>

    <div class="slider-content">
        <img class="selected" src="{% static 'global/images/delet.png' %}" alt="delet">
        <img src="{% static 'global/images/v-mol.png' %}" alt="v-mol"> 
        <img src="{% static 'global/images/v-floc.webp' %}" alt="v-floc">
        <img class="selected" src="{% static 'global/images/glazy.png' %}" alt="delet">
        <img src="{% static 'global/images/intense.png' %}" alt="v-mol"> 
        <img src="{% static 'global/images/prizm.png' %}" alt="v-floc"> 
        <img class="selected" src="{% static 'global/images/restaurax.png' %}" alt="delet">
        <img src="{% static 'global/images/shiny.png' %}" alt="v-mol"> 
        <img src="{% static 'global/images/sintra.png' %}" alt="v-floc"> 
    </div>
</div>

<script src="{% static 'global/js/script.js' %}"></script>
