{% load static %}


<div class="conteiner-service">
    <div class="service-header">
        <h1>Serviços</h1>
        <p>Conheça alguns dos nossos serviços oferecidos.</p>
    </div>

    <div class="container-service-description">
        <div class="service-description-text">
            <img src="{% static 'global/images/polimento-carro.png' %}" alt="polimento-carro" class="service-image">
            <div class="service-desc">
                <h2>Polimento </h2>
                <p>Polimento é o processo responsável por corrigir defeitos e imperfeições que se encontram na superfície da pintura do veículo, 
                    renovando, melhorando sua aparência e aumentando o brilho e reflexo.</p>
            </div>
        </div>
     <div class="container-service-description">
        <div class="service-description-text">
            <img src="{% static 'global/images/polimento-farol.png' %}" alt="polimento-farol" class="service-image" >
            <div class="service-desc">
                <h2>Polimento de farol</h2>
                <p>Polimento é o processo responsável por corrigir defeitos e imperfeições que se encontram na superfície da pintura do veículo, 
                    renovando, melhorando sua aparência e aumentando o brilho e reflexo.</p>
            </div>
        </div>
    <div class="container-service-description">
        <div class="service-description-text">
            <img src="{% static 'global/images/higienização.jpg' %}" alt="higienização" class="service-image" >
            <div class="service-desc">
                <h2>Higienização </h2>
                <p>Nossa higienização interna devolve a sensação de carro novo, com uma limpeza detalhada e cuidadosa, uma atenção especial para cada região do veículo garante que tudo receberá o tratamento mais adequado, No final do trabalho fazemos a Oxisanitização, 
                    processo com a utilização de um equipamento que gera ozônio no interior do veículo e tem Excelente resultado para remoção de odores e microorganismos</p>
            </div>
        </div>
     <div class="container-service-description">
        <div class="service-description-text">
            <img src="{% static 'global/images/vitrificação.png' %}" alt="vitrificação" class="service-image" >
            <div class="service-desc">
                <h2>Vitrificação </h2>
                <p>Polimento é o processo responsável por corrigir defeitos e imperfeições que se encontram na superfície da pintura do veículo, 
                    renovando, melhorando sua aparência e aumentando o brilho e reflexo.</p>
            </div>
        </div>
     <div class="container-service-description">
        <div class="service-description-text">
            <img src="{% static 'global/images/snowfoam.png' %}" alt="snowfoam" class="service-image">
            <div class="service-desc">
                <h2>Lavagem técnica </h2>
                <p>Polimento é o processo responsável por corrigir defeitos e imperfeições que se encontram na superfície da pintura do veículo, 
                    renovando, melhorando sua aparência e aumentando o brilho e reflexo.</p>
            </div>
        </div>
        
        
    
            
    

</div>