
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
}


/* Header */
.logo {
    width: 180px; 
    height: 180px; 
}

.logo-container {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main-nav {
    background-color: black;
    color: #f3f3fb;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}

.nav-list li {
    margin: 0 15px;

}

.nav-list a {
    color: #f3f3fb;
    text-decoration: none;
    font-size: 16px;
}

.nav-list a:hover {
    text-decoration: underline;
    color: #745cac;
}

 /* Products Section */
.products-header{
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #f3f3fb;
    background-color: #342454
}

.product-container-header {
    display: flex;
    gap: 225px;
    justify-content: center;
    flex-wrap: wrap; /* Permite quebrar linha em telas menores */
    margin: 0 auto;
}

.product-item {
    border-radius: 10px;
    box-shadow: 0 2px 8px #0001;
    padding: 75px 75px;
    max-width: 425px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-item img {
    width: 100%;
    max-width: 155px;
    height: 480px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-desc h2 {
    text-align: center;
    margin-bottom: 8px;
    color: #f3f3fb;
}

.product-desc p {
    color: #f3f3fb;
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}


 /* Service Section */
.service-header {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #f3f3fb;
    background-color: #342454
}

.service-container-header {
    display: flex;
    gap: 225px;
    justify-content: center;
    flex-wrap: wrap; /* Permite quebrar linha em telas menores */
    margin: 0 auto;
}

.service-item {
    border-radius: 10px;
    box-shadow: 0 2px 8px #0001;
    padding: 75px 75px;
    max-width: 425px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-service-description img {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 10px auto;
    width: 100%;
    max-width: 325px;
    height: 255px;
    object-fit: cover;
    border-radius: 8px;
}
.service-desc h2 {
    text-align: center;
    margin-bottom: 8px;
    color: #f3f3fb;
}
.service-desc p {
    color: #f3f3fb;
    font-size: 1em;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}


.container-footer {
    background-color: #342454;
    color: #f3f3fb;
    padding: 15px ;
    text-align: center;
    display: flex;
    align-items: center;    
    justify-content: space-between;

}

.footer-text a {
    color: #f3f3fb;
    text-decoration: none;
}

.footer-text a:hover {
    text-decoration: underline;
    color: #745cac;
}

.footer-text {
    margin: 0;
    padding: 0;
}
.by {
    margin: 0;
    padding: 0;
    font-size: 25px;
}

.by a {
    color: #f3f3fb;
    text-decoration: none;
}

.by a:hover {
    text-decoration: underline;
    color: #745cac;
}

